@keyframes falling1 {
  0% {
    transform: translate(0vw, -40vh);
  }
  100% {
    transform: translate(0, 100vh);
  }
}

@keyframes falling2 {
  0% {
    transform: translate(-40vw, -40vh);
  }
  100% {
    transform: translate(40vw, 100vh);
  }
}

@keyframes falling3 {
  0% {
    transform: translate(40vw, -40vh);
  }
  100% {
    transform: translate(-40vw, 100vh);
  }
}

@keyframes line1 {
  0% {
    transform: translate(400%, -10%);
  }
  100% {
    transform: translate(-400%, 40%);
  }
}

@keyframes rotate1 {
  100% {
    rotate: 360deg;
  }
}

@keyframes rotate2 {
  0% {
    rotate: -35deg;
  }
  100% {
    rotate: 35deg;
  }
}

@keyframes click_good {
  0% {
    scale: 1;
  }
  20% {
    scale: 1.1;
  }
  100% {
    scale: 0;
  }
}

@keyframes click_bad {
  100% {
    rotate: 720deg;
    scale: 0;
  }
}

.falling1 {
  animation-name: falling1;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

.falling2 {
  animation-name: falling2;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

.rotate2 {
  animation-name: rotate2;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}
.good {
  animation-name: click_good;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.bad {
  animation-name: click_bad;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.paused {
  animation-play-state: paused;
}


/* ADD ANIMATION FOR SCOREBOARD & LIFE BOARD */