/* generelt layout */

body {
  margin: 0;
  overflow: hidden;
}

img {
  width: 100%;
}

#screen {
  aspect-ratio: 16 / 9;
  display: grid;
  grid-template: 100% / 100%;
}

#game {
  grid-area: 1 / 1;
  display: grid;
  grid-template: 100% / 100%;
}
#background {
  grid-area: 1 / 1;
  background-image: url(grafik/baggrund1.jpg);
  background-size: cover;
  pointer-events: all;
}

#elements {
  grid-area: 1 / 1;
  overflow: hidden;
  position: relative;
  pointer-events: none;
}

#source {
  grid-area: 1 / 1;
  opacity: 0;
  pointer-events: none;
}

#start {
  grid-area: 1 / 1;
  background-image: url(grafik/start.jpg);
  z-index: 100;
  background-size: cover;
  display: grid;
  /* justify-content: center; */
  /* align-content: center; */
  /* grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr; */
}

#game_over {
  grid-area: 1 / 1;
  background-image: url(grafik/game_over.jpg);
  background-size: cover;
  z-index: 100;
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;
}

#level_complete {
  grid-area: 1 / 1;
  background-image: url(grafik/level_complete.jpg);
  background-size: cover;
  z-index: 100;
  display: grid;
  justify-content: center;
  align-content: center;
}

h2 {
  position: relative;
  font-size: 4em;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: red;
  margin: 0;
  /* top: 10vw;
  align-content: center;
  justify-content: center; */
}

button {
  padding: 0.5em 1em;
  font-size: 2em;
  margin: auto;
  background-color: red;
  color: #fff4bf;
  border: 2px solid blue;
  cursor: pointer;
  border-radius: 10px;
}

.hidden,
#level_complete.hidden,
#game_over.hidden,
#start.hidden {
  display: none;
}

/* UI */

#ui {
  position: absolute;
  top: 2vh;
  right: 15vw;
  color: white;

  font-size: 2em;
  font-family: sans-serif;

  pointer-events: none;
}

#hp_board {
  margin-block-start: 0.2em;
  display: grid;
  grid-template-columns: 5% 5% 5%;
}

#score_board {
  display: grid;
  grid-template-columns: 5% 5%;
  gap: 0.1em;
}

#time_board {
  display: grid;
  grid-template-columns: 5% 5%;
  margin-block-start: 0.2em;
  /* top:2vw;
  left:30vw */
}

#accuracy_board {
  display: grid;
  grid-template-columns: 5% 5%;
  margin-block-start: 0.2em;
}

/* containers */

.container {
  pointer-events: all;
  position: absolute;
  width: 10%;
}

#water_container {
  width: 10%;
}

#banana_container {
  width: 10%;
}

#air_container {
  width: 10%;
}

#fuel_container {
  width: 10%;
}

#alien_container1 {
  width: 10%;
}

#alien_container2 {
  width: 10%;
}
#rotten_container {
  width: 10%;
}

/* Positions */
.vertical1 {
  left: 2vw;
}
.vertical2 {
  left: 11vw;
}
.vertical3 {
  left: 20vw;
}
.vertical4 {
  left: 30vw;
}
.vertical5 {
  left: 40vw;
}
.vertical6 {
  left: 50vw;
}
.vertical7 {
  left: 60vw;
}
.vertical8 {
  left: 70vw;
}
.vertical9 {
  left: 80vw;
}
.vertical10 {
  left: 90vw;
}

.horizontal1 {
  top: 10vh;
}
.horizontal2 {
  top: 20vh;
}
.horizontal3 {
  top: 30vh;
}
.horizontal4 {
  top: 40vh;
}
.horizontal5 {
  top: 50vh;
}
.horizontal6 {
  top: 60vh;
}
.horizontal7 {
  top: 70vh;
}
.horizontal8 {
  top: 80vh;
}
.horizontal9 {
  top: 90vh;
}
