/* generelt layout */

body {
  margin: 0;
  overflow: hidden;
  font-family: sans-serif;
}

img {
  width: 100%;
}

#screen {
  aspect-ratio: 16 / 9;
  display: grid;
  grid-template: 100% / 100%;
}

#game {
  grid-area: 1 / 1;
  display: grid;
  grid-template: 100% / 100%;
  user-select: none;
}
#background {
  grid-area: 1 / 1;
  background-image: url(grafik/baggrund1.jpg);
  background-size: cover;
  pointer-events: all;
}

#elements {
  grid-area: 1 / 1;
  overflow: hidden;
  position: relative;
  pointer-events: none;
}

#source {
  grid-area: 1 / 1;
  opacity: 0;
  pointer-events: none;
}

#start {
  grid-area: 1 / 1;
  background-image: url(grafik/start.jpg);
  /* grid-template-rows: 1fr 1fr 1fr; */
  background-size: cover;
  z-index: 100;
  display: grid;
  justify-content: center;
    align-content: center;
  text-align: center;

}

#game_over {
  grid-area: 1 / 1;
  background-image: url(grafik/game_over.jpg);
  background-size: cover;
  z-index: 100;
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;
}

#level_complete {
  grid-area: 1 / 1;
  background-image: url(grafik/level_complete.jpg);
  background-size: cover;
  z-index: 100;
  display: grid;
  justify-content: center;
  align-content: center;
}

#start div,
#game_over div,
#level_complete div {
  font-size: 2.5em;
  margin: auto;
  padding: auto;
  font-weight: bold;
  line-height: 1.5em;
  color: #ffffff;
  color: #141010;
  text-align: center;
  /* grid-area: 1 / 1; */
  /* padding-bottom: 2em; */
  /* max-height: 15vw; */


  backdrop-filter: contrast(90%) blur(5px);
  border-radius: 10px;
}

h2 {
  position: relative;
  font-size: 6em;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: limegreen;

  margin-bottom: 1em;
  margin-top: auto;
  
  backdrop-filter: blur(5px);
  border-radius: 50px;
}

/* #game_over button,
#level_complete button {
  position: relative;
  font-size: 3em;
  margin: 0.3em;
  padding: auto;
  cursor: pointer;

  bottom: 1em;
  background-color: #680747;
  color: #fff4bf;
  

  border: 2px solid rgb(4, 4, 41);
  cursor: pointer;
  border-radius: 10px;
} */


button {
  /* position: relative; */
  padding: 0.4em 1em;
  font-size: 3em;
  margin: auto;
  bottom: 10vw;
  background-color: #680747;
  color: #fff4bf;
  /* background-color: #141010;
  color: #680747; */


  border: 2px solid rgb(4, 4, 41);
  cursor: pointer;
  border-radius: 10px;
}


.first-color { 
	background: #f70776; 
}
	
.second-color { 
	background: #c3195d; 
}

.third-color { 
	background: #680747; 
}

.fourth-color { 
	background: #141010; 
}

.hidden,
#level_complete.hidden,
#game_over.hidden,
#start.hidden {
  display: none;
}

/* UI */

#ui {
  grid-area: 1 / 1;
  display: grid;

  color: white;

  grid-template-columns: 1fr 1fr 2fr 1fr;
  grid-template-rows: 3em;
  font-size: 2em;

  pointer-events: none;
}

#score_board {
  display: grid;
  /* position: absolute; */
  grid-template-columns: 0.3fr 0.3fr;
  align-items: center;
  justify-items: start;
}

#accuracy_board {
  display: grid;
  grid-template-columns: 0.35fr 0.35fr;
  align-items: center;
  justify-items: start;
}

#hp_board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  /* grid-template-rows: 1px; */
}

#time_board {
  display: grid;
  align-items: center;
}

/* #time_container{
position: absolute; */
/* top: 1vw; */
/* left: 50vw; */
/* width: 1fr; */
/* height: 5em;
} */

#time_sprite {
  width: 50%;
  height: 2em;
  transform-origin: 0% 0%;
  background-color: limegreen;
  border: 1px solid black;
  inset-block-start: 50px;
}

/* containers */

.container {
  pointer-events: all;
  position: absolute;
  width: 10%;
}

#water_container {
  width: 10%;
}

#banana_container {
  width: 10%;
  animation-delay: 5s;
  top: -20%;
}

#air_container {
  width: 10%;
}

#fuel_container {
  width: 10%;
}

#alien_container1 {
  width: 10%;
}

#alien_container2 {
  width: 10%;
}
#rotten_container {
  width: 10%;
}

/* Positions */
.vertical1 {
  left: 2vw;
}
.vertical2 {
  left: 11vw;
}
.vertical3 {
  left: 20vw;
}
.vertical4 {
  left: 30vw;
}
.vertical5 {
  left: 40vw;
}
.vertical6 {
  left: 50vw;
}
.vertical7 {
  left: 60vw;
}
.vertical8 {
  left: 70vw;
}
.vertical9 {
  left: 80vw;
}
.vertical10 {
  left: 90vw;
}

.horizontal1 {
  top: 10vh;
}
.horizontal2 {
  top: 20vh;
}
.horizontal3 {
  top: 30vh;
}
.horizontal4 {
  top: 40vh;
}
.horizontal5 {
  top: 50vh;
}
.horizontal6 {
  top: 60vh;
}
.horizontal7 {
  top: 70vh;
}
.horizontal8 {
  top: 80vh;
}
.horizontal9 {
  top: 90vh;
}
