/* generelt layout */

body {
  margin: 0;
  overflow: hidden;
}

img {
  width: 100%;
}

#screen {
  aspect-ratio: 16 / 9;
  display: grid;
  grid-template: 100% / 100%;
}

#game {
  grid-area: 1 / 1;
  display: grid;
  grid-template: 100% / 100%;
}
#background {
  grid-area: 1 / 1;
  background-image: url(grafik/baggrund1.jpg);
  background-size: cover;
  pointer-events: all;
}

#start {
  grid-area: 1 / 1;
  background-image: url(grafik/start.jpg);
  background-size: cover;
}

#elements {
  grid-area: 1 / 1;
  overflow: hidden;
  position: relative;
  pointer-events: none;
}

#source {
  grid-area: 1 / 1;
  opacity: 0;
  pointer-events: none;
}

#start {
  grid-area: 1 / 1;
  background-color: black;
  z-index: 100;
}

#game_over {
  grid-area: 1 / 1;
  background-color: red;
  z-index: 100;
}

#level_complete {
  grid-area: 1 / 1;
  background-color: green;
  z-index: 100;
}

.hidden {
  display: none;
}

/* UI */

#ui {
  position: absolute;
  top: 2vh;
  right: 15vw;
  color: white;

  font-size: 2em;
  font-family: sans-serif;

  pointer-events: none;
}

#hp_board {
  margin-block-start: 0.2em;
  display: grid;
  grid-template-columns: 5% 5% 5%;
}

#score_board {
  display: grid;
  grid-template-columns: 5% 5%;
  gap: 0.1em;
}

#time_board {
  display: grid;
  grid-template-columns: 5% 5%;
  margin-block-start: 0.2em;
}

#accuracy_board {
  display: grid;
  grid-template-columns: 5% 5%;
  margin-block-start: 0.2em;
}

/* containers */

.container {
  pointer-events: all;
  position: absolute;
  width: 10%;
}

#water_container {
  width: 10%;
}

#banana_container {
  width: 10%;
}

#air_container {
  width: 10%;
}

#fuel_container {
  width: 10%;
}

#alien_container1 {
  width: 15%;
}

#alien_container2 {
  width: 15%;
}
#rotten_container {
  width: 15%;
}

/* Positions */
.vertical1 {
  left: 2vw;
}
.vertical2{
  left: 11vw;
}
.vertical3 {
  left: 20vw;
}
.vertical4 {
  left: 30vw;
}
.vertical5 {
  left: 40vw;
}
.vertical6 {
  left: 50vw;
}
.vertical7 {
  left: 60vw;
}
.vertical8 {
  left: 70vw;
}
.vertical9 {
  left: 80vw;
}
.vertical10 {
  left: 90vw;
}

.horizontal1{
  top:10vh;
}
.horizontal2{
  top:20vh
}
.horizontal3{
  top:30vh
}
.horizontal4{
  top:40vh
}
.horizontal5{
  top:50vh
}
.horizontal6{
  top:60vh
}
.horizontal7{
  top:70vh
}
.horizontal8{
  top:80vh
}
.horizontal9{
  top:90vh
}
